main,
footer {
  margin: 0 auto;
}

main section {
  padding: 5rem 1rem;
}

main section#about {
  background-color: var(--accent-color, #eee);
}

main section#benefits {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

main section#benefits > * {
  flex: 1 100%;
  margin: 1rem 0;
}

main section#benefits h3 {
  margin: 3rem 1rem 0 1rem;
}

main section#benefits div p {
  margin: 1.5rem 2.5rem 3rem 2.5rem;
}

main section#benefits article {
  padding: 3rem 1rem;
  height: auto;
}

main section#benefits article:nth-of-type(odd) {
  background: var(--accent-color, #eee);
}

main section#benefits article svg {
  margin-bottom: 1rem;
}

main section#how-it-works {
  display: flex;
  flex-flow: row wrap;
  background: var(--accent-color, #eee);
}

main section#how-it-works > * {
  flex: 1 100%;
}

main section#how-it-works article {
  margin: 1rem 0;
}

main section#how-it-works article h4 {
  margin: 1rem 0;
}

main section#how-it-works > article img {
  width: 100%;
  border-radius: 15px;
}

main section#hours {
  background: var(--accent-color, #eee);
}

@media all and (min-width: 900px) {
  main section#about p {
    width: 50%;
    margin: 2rem auto;
  }

  main section#how-it-works > article {
    flex: 1 1;
  }

  main section#benefits {
    margin: 2rem;
  }

  main section#benefits article {
    flex: 1 1;
    transition: all 0.3s ease;
    padding: 3rem 1rem 0 1rem;
    border-radius: 15px;
  }

  main section#benefits article:nth-of-type(odd) {
    background: var(--background, #eee);
  }

  main section#benefits article:hover {
    background: var(--accent-color, #eee);
  }

  main section#benefits div p {
    margin: 2rem auto;
    max-width: 50%;
  }

  main section#how-it-works article {
    flex: 0 0 35%;
    margin: 3rem auto;
  }

  main section#how-it-works article h4 {
    margin: 2rem auto;
    font-size: 1.5rem;
  }

  main section#how-it-works article img {
    transition: all 0.3s ease;
  }

  main section#how-it-works article:hover > img {
    box-shadow: 0px 0px 62px 2px rgba(0, 0, 0, 0.33);
  }

  main section#how-it-works div p {
    margin: 2rem auto;
    max-width: 50%;
  }

  main section#terms div p {
    margin: 2rem auto;
    max-width: 50%;
  }

  main section#hours div p {
    margin: 2rem auto;
    max-width: 50%;
  }

  footer {
    margin: 2rem auto 0 auto;
    padding: 3rem;
  }

  footer section#contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 2rem 0;
    background: none;
    height: 10rem;
  }

  footer section#contact a.phone {
    border: none;
  }

  footer section#contact a {
    border-radius: 15px;
    overflow: hidden;
    background: #eee;
    transition: all 0.3s ease;
    height: 100%;
    margin: 0 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    color: black;
    justify-content: center;
  }

  footer section#contact a svg {
    flex: none;
  }

  footer section#contact a span.info {
    display: inline-block;
    margin: 1rem;
  }

  footer section#contact a:hover {
    background: var(--accent-color);
  }
}

@media all and (max-height: 900px) {
  header section#big-quote h2.name {
    margin: 1.5rem;
  }

  header section#big-quote p.quote {
    margin: 1.5rem;
  }
}

@media all and (min-width: 900px) and (max-width: 1100px) {
  header section#header h1 a,
  header section#header p a {
    font-size: 1.5rem;
  }

  main section#benefits article {
    flex: 1 0 50%;
  }
}

@media all and (min-width: 1101px) and (max-width: 1400px) {
  body {
    font-size: 16px;
  }
}

@media all and (min-width: 2000px) {
  body {
    font-size: 2rem;
  }
  header img#instructor {
    width: 32rem;
    height: 32rem;
    margin: -16rem auto 0 auto;
  }
}
